html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
html { overflow: -moz-scrollbars-vertical; }
body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
body {
	background-image: url(../../themes/default/images/top_row_grey.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	text-align: center;
}
body, table, td, div, span, div, p, input, select, textarea, option {
  font: 11px Verdana, sans-serif;
  color: #333333;
}
body, table, td, span, div, p {
  line-height: 20px;
}
#container {
	width: 950px;
	text-align:left;
	margin: 0 auto;
}
#header {
  height: 72px;
  position: relative;
  text-align: center;
  width: 950px;
}
#footer {
	margin-top: 30px;
  border-top: 1px dotted #cccccc;
  padding: 6px 0px;
  text-align: justify;
}
ul {
	margin: 0px;
  padding-left: 16px;
}
#footer ul {
  list-style: none;
	margin: 0px;
  padding: 0px;
}
#footer ul li {
  float: left;
  padding: 0px 20px;
  border-right: 1px solid #cccccc;
}
#footer ul li.colN {
	border-right: 0px;
}
#footer ul li a {
  color: #0066cc;
  display: block;
}
#footer ul li a:hover {
	border-bottom: 0px;
	color: #990000;
}
#content {
  margin: 24px 10px 0px 10px;
}
a:link, a:visited {
	color: #008800;
	text-decoration: none;
}
a:hover {
	color: #990000;
	border-bottom: 1px solid #bb0000;
}
a.no_border:link, a.no_border:visited { border-bottom: none; outline: none; }
.rsvErrorField { background-color: #990000; color: white; }

.nav_visited { color: #aaaaaa; }
#nav_items div.nav_current {
	font-weight: bold;
	color: green;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #efefef;
}
.nav_current .delim {
	color: #999999;
}

.nav_remaining { color: #777777; }
.orange { color: orange; }
.green { color: green; }
.dark_green { color: #003300; }
.red { color: #cc0000; }
.purple { color: purple; }
.bold { font-weight: bold; }
.burgundy { color: #bb0000; }

table.info td {
	border-bottom: 1px solid #efefef;
}
.error {
	color: black;
	background-color: #FFEDED;
	border: 1px solid #cc0000;
}
.notify {
	color: #00aa00;
	background-color: #ffffdd;
	border: 1px solid #009900;
	padding: 5px;
}

ul.tips {
	padding-left: 16px;
	margin-left: 0px;
}
ul.tips li {
	font-size: 8pt;
	line-height: 16px;
}
#account_section {
 	background-image: url(../../themes/default/images/account_section_bg_grey.jpg);
	background-repeat: repeat-x;
	height:25px;
	padding-left: 12px;
	padding-right: 12px;
	color:white;
}
#account_section a:link, #account_section a:visited {
  color: #f2f2f2;
  text-decoration: none;
}
#nav_items {
  border-right: 1px dotted #dddddd;
  margin: 0px 5px 0px 12px;
  float: left;
  width: 192px;
}
#main {
  float: right;
  width: 690px;
  margin-right: 10px;
}
#nav_items div {
  line-height: 24px;
  border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding-left: 2px;
}
.margin_right {
  margin-right: 6px;
}
.margin_bottom_large {
  margin-bottom: 8px;
}
h1 {
  font-size: 1.8em;
  font-weight: normal;
  padding: 6px 12px 10px;
  border-bottom: 1px dotted #cccccc;
  font-family: Verdana,sans-serif;
}
h2 {
  color: #006600;
  font: 15px/18px Verdana,sans-serif;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 10pt;
  color: #006600;
  margin-top: 0px;
}
.label {
  color: #666666;
}
#existing_tables {
  border: 1px solid #cccccc;
  height: 160px;
  overflow-y: scroll;
}
#config_file_contents {
  width:100%;
  height:240px;
  background-color: #ffffff;
  color: #555555;
  line-height: 12pt;
  height: 240px;
  padding: 5px;
  border: 1px solid #aaaaaa;
}
.clear {
  clear: both;
}
.delim {
	color: #aaaaaa;
}
.divider {
  border-bottom: 1px dotted #cccccc;
}
.warning {
	margin: 8px 0px 0px 0px;
	color: #990000;
  padding: 8px;
  border: 1px solid #cc0000;
  background-color: #fffffcc;
}
.panel {
  border: 1px solid #cccccc;
  padding: 8px;
  background-color: #f2f2f2;
  margin-top: 16px;
}
.hidden {
  display: none;
}
.popup_type_error {
	width: 48px;
	height: 48px;
  background-image: url(../../global/images/error.png);
  margin-right: 8px;
  float: left;
}
#verify_license_key_loading {
  display: none;
  float: right;
  width: 32px;
  height: 32px;
  background-image: url(../../global/images/loading.gif);
}
span.fail {
  margin-left: 10px;
  background-color: #aa0000;
  padding: 1px 10px;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
span.pass {
  margin-left: 10px;
  background-color: green;
  padding: 1px 10px;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}