{ft_include file="header-bs.tpl"}

  <div class="title">{$LANG.phrase_forgot_password}</div>


  <div class="margin_bottom_large" style="width: 540px">
    {$text_forgot_password}
  </div>

  <p>
    <a href="index.php{$query_params}">{$LANG.phrase_login_panel_leftarrows}</a>
  </p>

{ft_include file="footer.tpl"}
